{% extends "base.html.twig" %}

{% block title %}
	{{"Straw-Poll - " ~ poll.title }}
{% endblock %}

{% block body %}
	<div class="border border-secondary bg-dark text-white p-3 mt-3" id="vote">
		<h2 class="display-5 text-center">{{poll.title}}</h2>
		<hr class="my-4">
		<form id="poll_form" method="POST">
			<fieldset class="form-group">
				<legend>Résponses du sondage :</legend>
				{% for responses in poll.pollResponse %}
					<div class="form-check pt-3">
						<label class="form-check-label">
							<input type="radio" class="form-check-input" name="poll_responses" id="{{responses.id}}" value="{{responses.id}}" autocomplete="off">
							{{responses.content}}
						</label>
					</div>
				{% endfor %}
			</fieldset>
			{# <input type="hidden" name="token" value="{{ csrf_token ('poll_voting') }}"/> #}
			<div class="mt-3 text-center">
				<button class="btn btn-success" type="submit" data-id="{{poll.id}}"  data-token="{{ csrf_token (poll.id)}}">Votez</button>
			</div>
		</form>
	</div>
{% endblock %}
